@page "/edit-strategy/{id}"
@layout MainLayout
@inherits CryptobotUi.Pages.EditStrategyComponent

@using Radzen
@using Radzen.Blazor
@using CryptobotUi.Models.Cryptodb
@inject Microsoft.Extensions.Localization.IStringLocalizer<EditStrategy> L
<RadzenContent Container="main">
  <ChildContent>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." Visible="@hasChanges">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="autorenew" style="margin-bottom: 20px" Text="Reload" Visible="@hasChanges" Click="@Button0Click">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@strategy" TItem="CryptobotUi.Models.Cryptodb.Strategy" Visible="@(strategy != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="name" style="width: 100%" Text="Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(strategy.name)" Name="Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Name" style="position: absolute" Text="name is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="symbol" style="width: 100%" Text="Symbol">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown AllowFiltering="true" AllowVirtualization="true" Data="@symbols" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" style="display: block; width: 100%" TextProperty="name" @bind-Value="@(strategy.symbol)" ValueProperty="name" Name="Symbols">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Symbols" style="position: absolute" Text="symbol is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="position_type" style="width: 100%" Text="Position Type">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown AllowFiltering="true" AllowVirtualization="true" Data="@positionTypes" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" style="display: block; width: 100%" TextProperty="Name" @bind-Value="@(strategy.position_type)" ValueProperty="Name" Name="Position_type">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Position_type" style="position: absolute" Text="position_type is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="status" style="width: 100%" Text="Status">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown AllowFiltering="true" AllowVirtualization="true" Data="@statuses" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" style="display: block; width: 100%" TextProperty="Name" @bind-Value="@(strategy.status)" ValueProperty="Name" Name="Status">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Status" style="position: absolute" Text="status is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ETag" style="width: 100%" Text="Exchange">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown AllowFiltering="true" AllowVirtualization="true" Data="@exchanges" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" style="display: block; width: 100%" TextProperty="name" @bind-Value="@(strategy.exchange_id)" ValueProperty="id" Name="Exchanges">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Exchanges" style="position: absolute" Text="exchange is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="exchange_type" style="width: 100%" Text="Exchange Type">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown AllowFiltering="true" AllowVirtualization="true" Data="@exchangeTypes" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" style="display: block; width: 100%" TextProperty="Name" @bind-Value="@(strategy.exchange_type)" ValueProperty="Name" Name="Exchange_type">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Exchange_type" style="position: absolute" Text="exchange_type is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="updated_time" style="width: 100%" Text="Updated Time">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="yyyy-MM-dd HH:mm:ss" style="display: block; width: 100%" @bind-Value="@(strategy.updated_time)" Name="Updated_time">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="Updated_time" style="position: absolute" Text="updated_time is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="id" style="width: 100%" Text="Id">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(strategy.id)" Name="Id">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Id" style="position: absolute" Text="id is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="version" style="width: 100%" Text="Version">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(strategy.version)" Name="Version">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Version" style="position: absolute" Text="version is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button4Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
