@page "/futures-positions"
@layout MainLayout
@inherits CryptobotUi.Pages.FuturesPositionsComponent

@using Radzen
@using Radzen.Blazor
@using CryptobotUi.Models.Cryptodb
@inject Microsoft.Extensions.Localization.IStringLocalizer<FuturesPositions> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Futures Positions">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenSplitButton Icon="get_app" style="margin-bottom: 10px; margin-left: 0px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await grid0.Reload();})">
        </RadzenTextBox>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Count="@getFuturesPositionsCount" Data="@getFuturesPositionsResult" FilterMode="FilterMode.Advanced" TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" LoadData="@Grid0LoadData">
          <Columns>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="signal_id" Title="Signal Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="symbol" Title="Symbol">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="position_type" Title="Position Type">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="exchange_id" Title="Exchange Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="strategy_pair_name" Title="Strategy Pair Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="signal_status" Title="Signal Status">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="position_status" Title="Position Status">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="executed_buy_qty" Title="Executed Buy Qty">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="pending_buy_qty" Title="Pending Buy Qty">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="executed_sell_qty" Title="Executed Sell Qty">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="pending_sell_qty" Title="Pending Sell Qty">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="entry_price" Title="Entry Price">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.FuturesPosition" Property="close_price" Title="Close Price">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
