@page "/signals/{SignalId}"
@layout MainLayout
@inherits CryptobotUi.Pages.SignalsComponent

@using Radzen
@using Radzen.Blazor
@using CryptobotUi.Models.Cryptodb
@inject Microsoft.Extensions.Localization.IStringLocalizer<Signals> L
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Signals">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowColumnResize="true" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Count="@getFuturesSignalsCount" Data="@getFuturesSignalsResult" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="Radzen.FilterMode.Advanced" TItem="CryptobotUi.Models.Cryptodb.Signal" LoadData="@Grid0LoadData" RowExpand="@Grid0RowExpand">
          <Columns>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.Signal" Property="signal_id" Title="Signal Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.Signal" Property="strategy_pair_name" Title="Strategy">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.Signal" Property="symbol" Title="Symbol">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.Signal" FilterProperty="Exchange.code" Property="exchange_id" SortProperty="Exchange.code" Title="Exchange">
              <Template Context="data">
              @(data.Exchange?.name)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.Signal" Property="position_type" Title="Position Type">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.Signal" FormatString="{0:dd/MM/yy HH:mm:ss.fff zzz}" Property="created_date_time" Title="Created Time">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.Signal" FormatString="{0:dd/MM/yy HH:mm:ss.fff zzz}" Property="updated_date_time" Title="Updated Date Time" Visible="false">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.Signal" Property="ETag" Title="E Tag" Visible="false">
            </RadzenGridColumn>
          </Columns>
          <Template Context="cryptobotUiModelsCryptodbSignal">
            <RadzenHeading Size="H3" Text="Commands">
            </RadzenHeading>
            <RadzenGrid @ref="grid1" AllowColumnResize="true" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(cryptobotUiModelsCryptodbSignal.SignalCommands)" FilterMode="Radzen.FilterMode.Advanced" TItem="CryptobotUi.Models.Cryptodb.SignalCommand">
              <Columns>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" Property="id" Title="Id">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" FilterProperty="FuturesSignal.symbol" Property="signal_id" SortProperty="FuturesSignal.symbol" Title="Signal" Visible="false">
                  <Template Context="data">
                  @(data.Signal?.symbol)
                  </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" Property="price" Title="Price">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" Property="quantity" Title="Quantity">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" Property="leverage" Title="Leverage">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" FormatString="{0:dd/MM/yy HH:mm:ss.fff zzz}" Property="request_date_time" Title="Request Date Time">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" FormatString="{0:dd/MM/yy HH:mm:ss.fff zzz}" Property="action_date_time" Title="Action Date Time">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" Property="strategy_name" Title="Strategy Name">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" Property="strategy_hash" Title="Strategy Hash" Visible="false">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" Property="strategy_data" Title="Strategy Data" Visible="false">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" Property="signal_action" Title="Signal Action">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" Property="status" Title="Status">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.SignalCommand" Property="ETag" Title="E Tag" Visible="false">
                </RadzenGridColumn>
              </Columns>
            </RadzenGrid>
            <RadzenHeading Size="H3" Text="Exchange orders">
            </RadzenHeading>
            <RadzenGrid @ref="grid2" AllowColumnResize="true" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(cryptobotUiModelsCryptodbSignal.ExchangeOrders)" FilterMode="Radzen.FilterMode.Advanced" TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder">
              <Columns>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="id" Title="Id">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="order_side" Title="Order Side">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="symbol" Title="Symbol">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="executed_qty" Title="Executed Qty">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="executed_price" Title="Executed Price">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="status" Title="Status">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="original_qty" Title="Original Qty">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" FormatString="{0:F8}" Property="price" Title="Price">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="status_reason" Title="Status Reason" Visible="false">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="exchange_order_id" Title="Exchange Order Id">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="ETag" Title="E Tag" Visible="false">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="exchange_order_id_secondary" Title="Exchange Order Id Secondary" Visible="false">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="signal_id" Title="Signal Id" Visible="false">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="exchange_id" Title="Exchange Id" Visible="false">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="fee_currency" Title="Fee Currency" Visible="false">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="fee_amount" Title="Fee Amount" Visible="false">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" FormatString="{0:dd/MM/yy HH:mm:ss.fff zzz}" Property="created_time" Title="Created Time">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" FormatString="{0:dd/MM/yy HH:mm:ss.fff zzz}" Property="updated_time" Title="Updated Time">
                </RadzenGridColumn>
                <RadzenGridColumn TItem="CryptobotUi.Models.Cryptodb.ExchangeOrder" Property="last_trade_id" Title="Last Trade Id" Visible="false">
                </RadzenGridColumn>
              </Columns>
            </RadzenGrid>
          </Template>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
